/* +------------------------------------------------+ */
/* |               REDTETRIS AUTH CSS               | */
/* +------------------------------------------------+ */

@import './colors.css';
@import './global.css';

.alert {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--secondary-eerie);
    border-color: var(--primary-red);
}

.alert p {
    margin: 0;
    padding: 0;
    color: var(--primary-red);
}

.auth-logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.auth-logo {
    background-image: url('./../assets/base/RedTetrisLogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}
