/* +------------------------------------------------+ */
/* |               REDTETRIS AUTH CSS               | */
/* +------------------------------------------------+ */

@import './colors.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: var(--primary-red);
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    margin-bottom: 20px;
    color: var(--secondary-light-grey);
}

.alert {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--secondary-eerie);
    border-color: var(--primary-red);
}

.alert p {
    margin: 0;
    padding: 0;
    color: var(--primary-red);
}

.auth-logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.auth-logo {
    background-image: url('./../assets/base/RedTetrisLogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}
