/* +------------------------------------------------+ */
/* |               REDTETRIS GAME CSS               | */
/* +------------------------------------------------+ */

@import './colors.css';

.game-container {
    padding: 20px;
}

.game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.game-overlay-message {
    color: var(--primary-red);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.game-overlay-content {
    color: white;
    text-align: center;
}

.game-countdown {
    font-size: 3rem;
}
