/* +------------------------------------------------+ */
/* |              REDTETRIS GLOBAL CSS              | */
/* +------------------------------------------------+ */

@import './colors.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: var(--primary-red);
    margin-bottom: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    color: var(--primary-red);
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    color: var(--primary-red);
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

p {
    margin-bottom: 20px;
    color: var(--secondary-light-grey);
}

.global-home-container {
    max-width: 50%;
}

.global-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.global-form-container {
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0;
}

.global-form-control {
    background-color: var(--secondary-dark-grey);
    border: 2px solid var(--secondary-grey);
    border-radius: 8px;
    color: var(--secondary-light-grey);
    padding: 10px; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.global-form-control::placeholder {
    color: var(--secondary-light-grey);
}

.global-form-control:focus {
    border-color: var(--primary-red);
    box-shadow: 0 0 0 0.2rem rgba(240, 146, 146, 0.5);
    outline: none;
}

.global-btn {
    background-color: var(--primary-red);
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.global-btn:hover {
    background-color: var(--primary-blue);
}

.global-btn:active:focus {
    background-color: var(--primary-cyan);
}

.global-secondary-btn {
    background-color: var(--secondary-dark-grey);
    border: 2px solid var(--primary-red);
    color: var(--primary-red);
    transition: background-color 0.3s, color 0.3s;
}

.global-secondary-btn:hover {
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
}

.global-secondary-btn:active:focus {
    border: 2px solid var(--primary-cyan);
    color: var(--primary-cyan);
}

/* Default state */
.global-toggle-btn {
    background-color: var(--secondary-dark-grey);
    border: 2px solid var(--secondary-grey);
    border-radius: 8px;
    padding: 10px; 
    color: var(--secondary-light-grey);
}

/* Hover state */
.global-toggle-btn:hover {
    background-color: var(--primary-blue) !important; /* Ensures primary-blue is applied */
    color: var(--secondary-white) !important; /* Corrected the CSS variable */
    border-color: var(--primary-blue) !important;
}

/* Active state (when checked/enabled) */
.global-toggle-btn.active {
    background-color: var(--primary-green) !important; /* Ensures primary-blue is applied */
    color: var(--secondary-white) !important; /* Corrected the CSS variable */
    border-color: var(--primary-green) !important;
}

.global-link {
    color: var(--primary-red);
    text-decoration: none;
    font-size: 0.9rem;
}

.global-link:hover {
    color: var(--primary-blue);
}

