.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    max-width: 400px;
    max-height: 800px;
    margin: 0 auto;

    border: 8px solid var(--primary-red);
    border-radius: 5px;

    box-shadow: 0 0 10px 10px var(--secondary-eerie);
}

.grid-row {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.grid-cell {
    flex: 1;
    background-color: var(--secondary-eerie);
    border: 1px solid var(--secondary-black); /* Default border for grid cells */
    aspect-ratio: 1 / 1;
    box-sizing: border-box; /* Ensure borders are included in element size */
    z-index: 1; /* Default z-index for grid cells */
}

/* Style for hovered cells */
.grid-cell:hover {
    border: 1px solid var(--secondary-dark-grey);
}

/* Shadow cell style overrides the default grid cell style */
.grid-cell.cell-shadow {
    background-color: var(--secondary-grey);
    border: 1px solid var(--secondary-black);
    z-index: 0; /* Shadow cells are above default cells */
}


/* Piece colors */
.cell-S { background-color: var(--primary-green); }
.cell-I { background-color: var(--primary-cyan); }
.cell-O { background-color: var(--primary-yellow); }
.cell-T { background-color: var(--primary-purple); }
.cell-L { background-color: var(--primary-orange); }
.cell-J { background-color: var(--primary-blue); }
.cell-Z { background-color: var(--primary-red); }
.cell-default { background-color: var(--secondary-eerie); }