.grid-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;  
    width: 100%;
    height: 100%;
    position: relative; /* Add relative positioning for overlay */
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 8px solid var(--primary-red);
    border-radius: 5px;
    box-shadow: 0 0 20px 10px var(--secondary-eerie);
    position: relative; /* Position relative for overlay */
}

.grid-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 8px solid var(--primary-blue);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px var(--secondary-eerie);
    position: relative; /* Position relative for overlay */
}

.grid-row {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.grid-cell {
    flex: 1;
    width: 20px;
    background-color: var(--secondary-eerie);
    border: 0.07em solid var(--secondary-black);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    z-index: 1;
}

.grid-cell:hover {
    border: 1px solid var(--secondary-dark-grey);
}

.grid-cell.cell-shadow {
    background-color: var(--secondary-grey);
    border: 0.07em solid var(--secondary-black);
    z-index: 0;
}

.cell-S { background-color: var(--primary-green); }
.cell-I { background-color: var(--primary-cyan); }
.cell-O { background-color: var(--primary-yellow); }
.cell-T { background-color: var(--primary-purple); }
.cell-L { background-color: var(--primary-orange); }
.cell-J { background-color: var(--primary-blue); }
.cell-Z { background-color: var(--primary-red); }
.cell-malus { background-color: var(--secondary-dark-grey); }
.cell-hidden { background-color: var(--secondary-dark-grey); }
.cell-default { background-color: var(--secondary-eerie); }

.grid-lost {
    position: absolute; /* Position relative to grid */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: white; /* Text color */
    font-size: 2rem; /* Font size for the message */
    z-index: 10; /* Ensure it's above the grid */
}