/* +------------------------------------------------+ */
/* |              REDTETRIS NAVBAR CSS              | */
/* +------------------------------------------------+ */

@import './colors.css';

.navbar {
    background-color: var(--secondary-eerie);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navbar-logo {
    background-image: url('./../assets/base/RedTetrisLogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}
.navbar-message {
    color: var(--primary-red);
    font-size: 1.2rem;
    margin-bottom: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-icon-logout {
    color: var(--primary-red);
}

.navbar-icon-logout:hover i {
    font-size: 100px;
    color: var(--primary-blue);
    filter: brightness(1.2);
}

.navbar-icon-logout:active:focus i {
    color: var(--primary-cyan);
}
