/* +------------------------------------------------+ */
/* |              REDTETRIS NAVBAR CSS              | */
/* +------------------------------------------------+ */

@import './colors.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; /* Padding for better spacing */
    background-color: var(--secondary-eerie);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the navbar stays on top */
    height: 75px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.auth-logo {
    width: 150px;
    height: 40px;
    background-image: url('./../assets/ui/RedTetrisLogo.svg'); /* Add the logo path */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px; /* Space between logo and welcome message */
}

.welcome-message {
    color: var(--primary-red);
    font-size: 1.2rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logout-icon img {
    width: 24px;
    height: 24px;
}

.logout-icon:hover img {
    filter: brightness(1.2);
}
