/* +------------------------------------------------+ */
/* |             REDTETRIS GRID GAME CSS             | */
/* +------------------------------------------------+ */

@import './colors.css';
@import './global.css';

.queue-container {
    position: relative;
    width: 180px; 
    height: 300px;
    display: flex;
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    border: 8px solid var(--primary-red);
    border-radius: 5px;
    box-shadow: 0 0 20px 10px var(--secondary-eerie);
    background-color: var(--secondary-eerie);
}

.queue-container h3 {
    color: var(--primary-yellow);
    font-size: 1.2em;
    text-align: center;
}

.queue-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 150px;
    padding: 5px;
}

.queue-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.queue-cell {
    background-color: var(--secondary-eerie);
    border: 0.07em solid var(--secondary-black);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

.queue-cell.cell-S { background-color: var(--primary-green); }
.queue-cell.cell-I { background-color: var(--primary-cyan); }
.queue-cell.cell-O { background-color: var(--primary-yellow); }
.queue-cell.cell-T { background-color: var(--primary-purple); }
.queue-cell.cell-L { background-color: var(--primary-orange); }
.queue-cell.cell-J { background-color: var(--primary-blue); }
.queue-cell.cell-Z { background-color: var(--primary-red); }
.queue-cell.cell-default { 
    background-color: var(--secondary-eerie);
    border: none;
}

.queue-lost {
    position: absolute; /* Position relative to the queue container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: white; /* Text color */
    font-size: 2rem; /* Font size for the message */
    z-index: 10; /* Ensure it's above the queue */
}